extends layout
block content
  h1= title
    p Member Search: 
    ul
      if query.memberid
        li Member ID: #{query.memberid}
      if query.fname
        li First Name: #{query.fname}
      if query.lname
        li Genre: #{query.lname}
  else
    p You searched for: #{query.member || "All members"}

  if results && results.length
    p Found #{results.length} results
    table
      thead
        tr
          th memberID
          th First Name
          th Last Name
      tbody
        each book in results
          tr
            td= librarymembers.memberid || librarymembers.MEMBERID
            td= librarymembers.fname || librarymembers.FNAME
            td= librarymembers.lname || librarymembers.LNAME
  else
    p No results found.