extends layout
block content
  h1= title
  if isAdvancedSearch
    p Advanced search criteria:
    ul
      if query.title
        li Title: #{query.title}
      if query.author
        li Author: #{query.author}
      if query.genre
        li Genre: #{query.genre}
      if query.minPrice
        li Minimum Price: $#{query.minPrice}
      if query.maxPrice
        li Maximum Price: $#{query.maxPrice}
      if query.rating
        li Book Rating: $#{query.rating}
  else
    p You searched for: #{query.title || "All books"}

  if results && results.length
    p Found #{results.length} results
    table
      thead
        tr
          th ISBN
          th Title
          th Author ID
          th Publication Year
          th Publisher
          th Genre
          th Book Cost
          th Rating
      tbody
        each book in results
          tr
            td= book.isbn || book.ISBN
            td= book.title || book.TITLE
            td= book.authorId || book.AUTHORID
            td= book.pubYear || book.PUBYEAR
            td= book.publisher || book.PUBLISHER
            td= book.genre || book.GENRE
            td= (book.bookCost || book.BOOKCOST) ? `$${(book.bookCost || book.BOOKCOST).toFixed(2)}` : 'N/A'
            td= book.rating || book.RATING
  else
    p No results found.